@charset "utf-8";
/* 외부 폰트 */
@font-face {
    font-family: 'Ansungtangmyun-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ansungtangmyun-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 10px;
}
body {
    font: 1.5rem/1.8 'Ansungtangmyun-Bold', sans-serif;
    color: #111;
}

.logo {
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 4px;
}

h2, h3 {
    font-family: 'Ansungtangmyun-Bold', sans-serif;
    font-weight: 400;
}
h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

a {
    color: #111;
    text-decoration: none;
}
button {
    color: #fff;
}
::placeholder {
    color: #ccc;
}
.main_tit {
    font-size: 3.6rem;
    letter-spacing: 4px;
    color: rgba(255, 0, 0, 0.85);
}
/* 섹션2 */
#products h3 {
    color: #fff;
}

/* 섹션3 */
#related h3 {
    font-size: 1.8rem;
    font-weight: 700;
}
#related li p:first-of-type {
    color: #999;
}
/* 푸터 */
footer {
    color: #fff;
}