@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
li {
    list-style: none;
}

img {
    vertical-align:top;
}
body {
    font-size: 1.4rem;
    line-height: 2.2;
    color: #333;
}
a{
    text-decoration: none;
}
#wrap {
    /* 가로 가운데 맞춤 */
    width: 1200px;
    margin: 0 auto;

}
/* 헤더 */
header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}
.logo {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 50px;
    width: 155px;
    height: 47px;
}
.logo img{
    padding-top: 30px;
}
.util {
    width: 760px;
    height: 60px;
    font-size: 1.3rem;
    display: flex;
    justify-content: right;

}

.util li {
    margin-top: 14px;
    margin-left: 8px;
}
.uil li a {
    color: #333;
}

.main {
    display: flex;
    justify-content: center;
}

.main>li {
    position: relative;
    width: 100%;
    text-align: center;
}

.main>li>a {
    position: relative;
    display: inline-block;
    line-height: 22px;
    padding: 0 0 14px 0;
    font-size: 1.8rem;
    font-weight: 500;
    color: #403A3A;
}
.menu>ul>li:nth-of-type(6)>a,.menu>ul>li:nth-of-type(7)>a,.menu>ul>li:nth-of-type(8)>a {
    color: #007cbc;
}
.main>li>a:hover {
    color: #007CBC;
}

.main>li>a:hover {
    border-bottom: 5px solid #007CBC;
}

/* 2depth: sub */
.sub {
    display: none;
    text-align: center;
    height: 20px;
    width: 160px;
    background-color: #fff;
}

.sub a {
    color: #333;
    font-size: 1.4rem;
    line-height: 2.2;
    padding: 7px 0 8px 20px;
}

.sub a:hover {
    color: #ccc;
    background-color: #007cbc;
    text-align: center;
}

